## Build
bin/
obj/
out/
*.user
*.suo
.vs/
*.swp

## Secrets & Local Configurations
**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.local.json
**/appsettings.Local.json

## OS
Thumbs.db
Desktop.ini
.DS_Store